<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
      <setting name="logImpl" value="LOG4J"/>
    </settings>
    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.mariadb.jdbc.Driver" />
                <property name="url" value="${mariaDbHost}" />
                <property name="username" value="${mariaDbUserName}" />
                <property name="password" value="${mariaDbPassword}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="jp.co.cec.vfInputDatMigrator.db.mapper"/>
    </mappers>
</configuration>